


body {
    background-color: blue;
}

h1 {
    color: white;
    text-align: center;

}

#moveableImg {
    position: relative;
}

#shrink {
	position: fixed;
    top: 50px;
    right: 850px;
}

#enlarge {
	position: fixed;
    top: 50px;
    right: 950px;
}


p {
    font-size: 24px;
    font-family: "Times New Roman";
}
